* {
    margin: 0;
    padding: 0;
}
.page {
    background-color: gray;
    width: 100%;
    height: 100vw;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(48, 48, 48);
    width: 100;
    height: 3vw;
}
.side1 {
    background-color: rgb(83, 83, 83);
    width: 8%;
    height: 89vw;
}
.footer {
    background-color: rgb(35, 35, 35);
    width: 100%;
    height: 8vw;
}
.ul1 {
    display: flex;
    list-style-type: none;
}
.li1 {
    margin-right: 25px;
    margin-top: 10px;
}
.a1 {
    text-decoration: none;
    color: black;
}
a:hover {
    color: white;
    text-decoration: underline;
}
.li2 {
    font-size: 20px;
    padding-top: 25px;
}
.a2 {
    text-decoration: none;
    color: black;
}
