.glavni {
    position: relative;
    background-color: rgb(84, 84, 84);
    width: 1000px;
    height: 250px;
}
.logo {
    position: absolute;
    background-color: rgb(231, 253, 88);
    width: 550px;
    height: 120px;
    margin: 10px;
}
.topmenu {
    position: absolute;
    left: 840px;
    top: 10px;
    background-color: rgb(231, 253, 88);
    width: 150px;
    height: 50px;
}
.Menu {
    position: absolute;
    width: 850px;
    height: 50px;
    background-color: rgb(231, 253, 88);
    top: 190px;
    left: 140px;
}
p {
    color: red;
}